<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://47.110.255.89:3306/garbage_db</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <mapping class="com.jin.env.garbage.entity.position.JPositionCityEntity"/>
      <mapping class="com.jin.env.garbage.entity.position.JPositionCountyEntity"/>
      <mapping class="com.jin.env.garbage.entity.position.JPositionProvinceEntity"/>
      <mapping class="com.jin.env.garbage.entity.position.JPositionTownEntity"/>
      <mapping class="com.jin.env.garbage.entity.position.JPositionVillageEntity"/>
      <mapping class="com.jin.env.garbage.entity.user.GarbageUserEntity"/>
      <mapping class="com.jin.env.garbage.entity.garbage.GarbageOrderEntity"/>
      <mapping class="com.jin.env.garbage.entity.user.GarbageResourceEntity"/>
      <mapping class="com.jin.env.garbage.entity.user.GarbageRoleEntity"/>
      <mapping class="com.jin.env.garbage.entity.user.GarbageRoleResourceEntity"/>
      <mapping class="com.jin.env.garbage.entity.garbage.GarbageCollectorEntity"/>
      <mapping class="com.jin.env.garbage.entity.position.GarbageCommunityEntity"/>
      <mapping class="com.jin.env.garbage.entity.user.GarbageRoleCommunityEntity"/>
      <mapping class="com.jin.env.garbage.entity.point.GarbagePointRecordEntity"/>
      <mapping class="com.jin.env.garbage.entity.point.GarbageUserPointEntity"/>
      <mapping class="com.jin.env.garbage.entity.village.GarbageVillageInfoEntity"/>
      <mapping class="com.jin.env.garbage.entity.message.GarbageMessageEntity"/>
      <mapping class="com.jin.env.garbage.entity.remark.GarbageRemarkAgainRecordEntity"/>
      <mapping class="com.jin.env.garbage.entity.card.GarbagePointCardEntity"/>
      <mapping class="com.jin.env.garbage.entity.fold.GarbageFoldEntity"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>